AI {
  OpenAI {
    Key ""
    Disabled true
  }
  OpenAI {
    Key "lmstudio"
    URL "http://localhost:7432/v1"
    Model "qwen/qwen3-vl-30b"
//    Disabled true
  }
  OpenAI {
    Key "lmstudio"
    URL "http://localhost:7432/v1"
    Model "openai/gpt-oss-20b"
    Disabled true
  }
  OpenAI {
    Key "lmstudio"
    URL "http://localhost:7432/v1"
    Model "deepseek-r1-distill-llama-70b"
    Tags "large"
    Disabled true
  }
  Gemini {
    Key ""
    Disabled true
  }
  ReqLimit 100
}

Agent {
  ID "cook"
  Label "AI-gent Cook"
  Dir "tmp/cook"
  Intro "This demo presents data collection, \
    gen AI, offers, stories, workflows, dynamic \
    short-term memory, planning with a DAG, \
    story navigation, progress, and clockmoji. \
    Backstage accessible at /dbg or /files. Lifecycle is 1h."

  Log {
  // duplicate to state-machine log
    Machine true
  // path to log file
    File "tmp/cook.jsonl"
  // log prompts
    Prompts true
  }

  History {
  // Available: memory, sqlite, bbolt (default: memory)
    Backend "sqlite"
    Max 1_000_000
  }
}

Debug {
// display extra info about these stories in the machine log
//  Story "StoryMealReady"
//  Story "Joke"
//  Mock true
//  Misc true
}

Cook {
  MinIngredients 3
  GenJokesAmount 3
  SessionTimeout "1h"
  GenRecipes 3
  MinPromptLen 2
  StepCommentFreq 2
  HeartbeatFreq "1h"
  OrientingMoveThreshold 0.5
}
